<!DOCTYPE html>
  <% provide(:title, "Help") %>
  <h1>Help</h1>
  
  <P>下記参照</p>
  <P>
  <a href="https://docs.google.com/document/d/1lm7903GBvt2VDlOGWuYSXESI4I1pgs_zQWHUK1AbiNc/edit">【サブ課題】instagram のクローンを作ってみましょう！</a>
  </p>