<footer class="navbar navbar-fixed-bottom navbar-default"">
 <div class="container">
  <nav>
  <% if logged_in? %>
  <%= link_to "Upload", "/upload", id: "logo" %>
  <% end %>  
  </nav>
 </div>
</footer>