<footer class="navbar navbar-fixed-bottom navbar-default"">
 <div class="container">
  <nav>
  <% if logged_in? %>
  <%= link_to "投稿", "/upload", id: "logo" ,class: "btn btn-primary"%>
  <% end %>  
  </nav>
 </div>
</footer>